
/* Header */

.title {
    margin-top: 20px;
    text-align: center;
}

.title1 {
    color: #6f42c1;
    font-family: fantasy;
    font-size: 50px;
    
}

.title2 {
    color: grey;
    font-family: fantasy;
    font-style: italic;
} 

.title3 {
    padding-left: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-style: normal;
}

.navbar {
    background-image: linear-gradient(#52318F, white) ;
    border-radius: 10px;
    font-size: 30px;
}

.logo {
    height : 150px;
    display: grid;
    justify-items: inherit;
}

.fa  {
    color : #6f42c1;
}


/* GENERAL RULES IN THE BODY */

body{
    background-image: linear-gradient( rgba(219, 181, 238, 0.637), white) ;
    border-radius: 10px;
    font-family: Arial, Georgia, 'Times New Roman', Times, serif;
    /* background: url('../img/Bibliothèque-nationale-de-Rio-de-Janeiro-Brésil-0.jpg'); */
    background-size: cover;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section1 */

.section1 {
    background-color: ;
}

#flight {
    background-color:#261742;
    background-image:
    radial-gradient(#6f42c1, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(#6f42c1, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(#6f42c1, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.btnResv {
    background-color: rgba(241, 194, 237, 0.89);
    color: rgb(85, 51, 82);
    font-size: 20px;
    padding: 10px ;
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

/* section2 images */

figure{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 20px;
}

.images {
    width: 100%;
    height: 100%;
    text-align: center;
}

/* section3 */

.section3 {
    background-image: linear-gradient(#9C83CC, white  ) ;
}

/* section4 */ 

.section4 {
    background-image: linear-gradient(white, #9C83CC  ) ;
}

/* section5 */

.imgCedric {
    justify-content: left;
}

.lastSEction {
    display: inline-block;
}

.DoesCare {
    color:#6f42c1;
    font-size: 40px;
}



/* POP UP */

.btnPopup , .contacttel{
    margin-left: 5%;
    margin-bottom: 50px;
    background-color: #b062ff;
    padding:1em 2em;
    border-radius: 15px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

.btnPopup:hover{

    background-color: rgba(183, 43, 183, 0.082);
}

.overlay{
    position:fixed;
    left:0px;
    top:0px;
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    display:none;
}

.popup , .form{
    margin:20% auto;
    padding: 1em;
    width: 80%;
    height:300px;
    background-color: rgb(228,228,228);
    border-radius: 5px;
    box-shadow:15px 20px 0   #bb8ee8b7;
}

.btnClose {
    cursor: pointer;
    float: right;
    box-shadow:15px 20px 0 rgba(247, 97, 247, 0.5);
}


/* footer */

footer {
    height: 40px;
}

.donkey {
    color: white;
    font-size: 30px;
}

.bgFooter {
    background-image: linear-gradient( rgba(181, 122, 210, 0.776388), white) ;
    border-radius: 10px;
    font-size: 30px;
}

.listeFooter {
    list-style-type: none;
    font-size: 20px;
}

.zip {
    color: #6e42c100;
}
